header {
    background: url(./assets/hero.jpg);
    // height: 100vh;
    background-size: 60%;
    // background: blue;
    background-position: right top;
    background-repeat: no-repeat;
}

.header__navBar {
    display: flex;
    .logo {
        width: 20%;
        margin: 0 20px;
        background: burlywood;
        padding: 100px 30px;
        border-radius: 50%;
        position: relative;
        bottom: 50px;
        img {
            max-width: 100%;
        }
    }
}

.header__content {
    display: flex;
    .slider__header {
       width: 20%; 
    }
    .header__hero {
        width: 80%;
    }
}